input#search-input {
    font-size: 20px;
    width: 73%;
    border-radius: 3px;
}

button#search-button {
    font-size: 21px;
    width: 25%;
    border-radius: 3px;
}

progress#searching-progress {
    width: 100%;
}
