input#search-input {
    float: left;
    width: 61.8%;
    font-size: 20px;
    border-radius: 3px;
    margin-right: 1%;
}

button#search-button {
    float: left;
    font-size: 21px;
    border-radius: 3px;
}

progress#searching-progress {
    width: 100%;
}
