#input-area > #search-input {
    display: inline;
    font-size: 20px;
    border-radius: 5px;
}

#input-area > #search-button {
    display: inline;
    font-size: 20px;
    border-radius: 5px;
}

progress#searching-progress {
    width: 100%;
}
